<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta view>
    <title>Lofter</title>
    
	<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC_LOFTER__/js/user.js"></script>
    <link rel="stylesheet" href="__PUBLIC_LOFTER__/css/R_L.css">
</head>
<body style="background: #EDEDEF;text-align:center;font-size: 12px;">
    <div class="reg-page">
        <div class="logo">
            <div class="reg-header">
                <h1>
                    <a href="#">Lofter仿做</a>
                </h1>
            </div>
        </div>
        
        <div class="reg-insert">
            <div class="insert-box">
                <h2>
                    <span class="smile"></span>
                    欢迎开通LOFTER
                </h2>
                <div class="insert-input">
                    {include file="element/ele-register"}
                </div>
            </div>s
        </div>  
        <div class="bottombg"></div>       
    </div>
   
</body>
</html>
