textarea{
	overflow: auto;
	resize: none;
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
.top-fixed {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 1024px;
	max-width: 1920px;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	background: #fff;
	z-index: 10000;
}

.top-logo {
	width: 128px;
	height: 29px;
	background: url('../img/longpost/logo2.png') no-repeat;
	position: absolute;
	left: 16px;
	top: 16px;
	/* width: 28px;
	height: 28px; */
}

.top-center {
	
	width: 630px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}

.top-center-title {
	color: #eee;
	/* color: #333; */
	font-size: 26px;
}
.top-center .txt-save-auto {
    margin-left: 12px;
    color: #333;
    font-size: 20px;
}
.top-right {
	position: absolute;
	right: 16px;
	bottom: 0;
	height: 60px;
}

.top-right .btn-submit {
	float: left;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin: 14px 0;
	border-radius: 30px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background: #ddd;
}

.top-right .head-photo img {
	float: left;
	width: 36px;
	height: 36px;
	margin: 12px 0 12px 30px;
	border-radius: 36px;
}

.top-right .head-photo span {
	float: left;
	margin: 27px 0 27px 6px;
}

.main-wrap {
	padding-top: 61px;
	margin: 0 0 36px 0;
	width: 630px;
	margin: 0 auto;
	margin-top: 48px;
	border: 1px solid #fff;
	background: #fff;
}

.article-addpic {
	position: relative;
	z-index: 100;
	display: block;
	width: 630px;
	height: 90px;
	margin: 0;
	background: none;
	border: 1px solid #eee;
}

.article-addpic .article-pic {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 630px;
	min-height: 90px;
	height: 90px;
	cursor: default;
	
}

.article-addpic em.icon-add {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	width: 23px;
	height: 22px;
	margin: -11px 0 0 -11px;
	background: url(../img/longpost/addpic.png) 0 0 no-repeat;
	font-weight: bold;
	font-style: normal;
}
span.hovertip {
    position: relative;
    z-index: 20;
    opacity: 0;
    display: block;
    width: 100%;
    height: 90px;
    line-height: 90px;
    color: #ccc;
    font-size: 18px;
    text-align: center;
	background: url(../img/longpost/empty.png) 0 0 repeat;
	
}
.article-addpic:hover{
	background: #f6f6f6;
	border-color: #f6f6f6;
}
.article-addpic:hover .hovertip{
	opacity: 1;
	text-decoration: none;
}
.article-addpic:hover .icon-add{
	display: none;
}
.file-upload{
	position: absolute;
	left: 0;
	top: 0;
	width: 632px	;
	height: 92px;
	z-index: 100;
	opacity: 0; 
	cursor: pointer;
}


.article-content {
	width: 630px;
	margin: 0 auto;
	/* margin-top: 48px; */
	border: 1px solid #fff;
	background: #fff;
}

.article-title {
	padding: 33px 0 38px;
	border-bottom: 1px solid #eee;
}

.article-title .main-title {
	height: 50px;
	display: block;
	width: 630px;
	margin: 0 0 12px 0;
	outline: none;
	border: none;
	color: #333;
	font-size: 30px;
}

.article-title .article-pre {
	display: block;
	width: 630px;
	height: 26px;
	min-height: 26px;
	line-height: 21px;
	margin: 0 auto;
	border: none;
	outline: none;
	color: #999;
	font-size: 16px;
}

.article-edit {
	width: 630px;
	color: #b7b7b7;
	margin: 0 auto;
}