<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/browse.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/userHome.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/app.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/potoshop.css">
</head>
<body>
	<div class="page">
		<!-- 头部 -->
		<header class="header">
            <a href="http://www.lofter.com" class="go-back" title="返回LOFTER首页">&lt;返回LOFTER首页</a>
            <div class="head">
                <h1 class="h-logo">
                    <a href="http://www.lofter.com" title="LOFTER">LOFTER 摄影课堂</a>
                </h1>
                <p class="mt25">LOFTER一直关注着优秀的摄影创作群体，希望您能够在这里创作、交流、展示、提高。</p>
                <p>LOFTER与佳能·大影家共同打造了“摄影课堂”这个主题摄影学习空间，您将通过有趣的标签</p>
                <p>不断练习摄影拍摄技巧，在更为轻松愉快的氛围内由浅入深的学习摄影。</p>
            </div>
            <a href="javascript:void(0);" class="go-link" title="去大影家，查看全部课程" target="_blank">去大影家，查看全部课程&gt;&gt;</a>
        </header>
		<!-- 摄影课堂 -->
		<div id="zhuanti" class="potoshop">
			<div class="out-box">
				<h2>摄影课堂</h2>
				<div class="inner-box">
					{foreach $pic_arr as $key=>$value}
					<div class="cont potoshop-list">
						<a href="#">
							<img src="{$value.pic_img}">
							<span class="cover"></span>
							<span class="title">
								<span>{$value.pic_title}</span>
							</span>
						</a>
					</div>
					{/foreach}
				</div>
			</div>
		</div>

		<!-- 脚bu -->
		<footer>
			<div class="g-ft">
			  <div class="m-ft2">
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/contact">联系我们</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://i.lofter.com/tag/招聘">招贤纳士</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/app">移动客户端</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/themes">风格模板</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://i.lofter.com">官方博客</a>
			  </div>
			  <div style="margin-top:10px;">
				  网易公司版权所有　©1997-2017　
				  <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017" style="position:relative;">
					 <img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;">
					 <span style="margin-left:18px;">浙公网安备 33010002000017号</span>
				 </a>
				 <span style="margin-left:20px;">ICP备：浙B2-20090185-5</span>
				 <span style="margin-left:20px;">增值电信业务经营许可证：浙B2-20090185</span>
			   </div>
			</div>
		</footer>
	</div>
</body>
</html>