<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>微博发布</title>
	<link rel="shortcut icon" type="image/x-icon" href="./img/facon.ico" media="screen" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.0/jquery.js"></script> -->

	<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <form action="">
       <input type="text" name="username">
       <a href="#" id="submit">提交</a>
    </form>
</body>
<script>
    $(function(){
        $('#submit').click(function(e){
            e.preventDefault();
            var form = $("form").get(0);
            console.log("form:"+form);
            var formData = new FormData( form );
            console.log("formData:"+formData.username);
            // $.ajax({
            //     url : 'index.php?c=user&a=doLogin',
            //     type : 'post' ,
            //     data : formData,
            //     processData: false,//不然浏览器做处理
			// 	contentType: false,   // 不设置内容类型
            //     success : function(data){
            //         // data :{
            //         //     status : string| number  
            //         //     data : array ,
            //         //     msg : status
            //         // }
            //         data = JSON.parse(data);
            //         // console.log(data.status);
            //         alert(data.msg);
            //         console.log(data.html);
            //     }
            // })
        });
    })
</script>
</html>