<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/userHome.css">
</head>
<body>
	<div class="page">
		<!-- 右上角固定的按钮 -->
		<div class="a-bar">
			<ul class="a-bar-ul">
				<li>
					<a href="javescript:void(0);" class="top02">
						<em>主页设置</em>
					</a>
				</li>
				<li>
					<a href="{:url('index/index')}">
						<em>返回首页</em>
					</a>
				</li>

				<!-- 关注 -->
				{if $article_info.user_id != $Think.session.user_info.user_id}
				<li>
					<a href="javascrpt:void(0);" class="concern">
						{if inArray($article_info.user_id,$concern_list,'cid')}
						<em>取消关注</em>
						{else}
						<em>关注</em>
						{/if}
					</a>
				</li>
				{/if}
			</ul>
		</div>
		
		<!-- 右上角关注用户 -->
		<div class="follow-user"  data-uid="{$article_info.user_id}">
			<a href="" class="text-left user-name">
				<span class="span-img vertical">
					<img src="{$article_info.user_head}" class="img">
				</span>
				<span class="name">{$article_info.user_name}</span>
				<span class="user-close">x</span>
			</a>
			<a href="" class="color01 radius-bor color-white">				
				<span>关注</span>
			</a>
			<a href="" class="color02 radius-bor">				
				<span>注册LOFTER</span>
			</a>
			<a href="" class="color02 radius-bor">				
				<span>下载LOFTER App</span>
			</a>				
		</div>
		
		<div class="height95"></div>

		<!-- 用户名称 -->
		<div class="width700 box">
			<div class="selfInfo">
				<div class="middle-img float-left border-radius" >
					<a href="javascript:void(0);" data-uid="{$article_info.user_id}" onclick='user.goUserHome(this)'>
						<img src="{$article_info.user_head}" class="img">
					</a>
				</div>
				<h1 class="float-left margin-left25"><a href="">{$article_info.user_name}</a></h1>
			</div>
			<!-- <div class="search">
				<input type="search" placeholder="搜索">
			</div> -->
			<ul class="user-tag">
				<!-- <li>
					<a href="">私信</a>
				</li> -->
				<li>
					<a href="">归档</a>
				</li>
				<li>
					<a href="">RSS</a>
				</li>
			</ul>
		</div>
		<div class="width700 box">
			<div class="user-center">
				<!-- 左边月份显示 -->
				<div class="aside">
					<div class="border-radius middle-img border">
						<a class="date border-radius">{$article_info.article_time|date="d",(int)###}</a>
					</div>
					<div class="month">
						<a href="">{$article_info.article_time|date="m",(int)###}</a>
					</div>
				</div>
				<!-- 中心盒子 -->
				<div class="ariticle">
					<!-- 发布的内容显示 -->
					<div class="user-container">
						<?php $article_info['img']=json_decode($article_info['article_img']); ?>
						{foreach $article_info.img  as $img}
							<div class="pic">
								<img src="{$img}" style="max-width:100%;">
							</div>
						{/foreach}
						{if $article_info['article_music']!=null}
						{if $article_info['img']!=[]}
						<div class="cover">
							<img class="img" src="{$article_info['img'][0]}">
							<i></i>
						</div>
						{/if}
						<div class="music">
							<audio src="{$article_info.article_music}" preload="none" controls="controls"></audio>
							<!-- <p style="text-indent:5px;">情绪挑拨——任然</p> -->
						</div>
						{/if}
						<div class="text">
							{if $article_info.article_title != null}
							<!-- 标题显示 -->
							<h2><a href="">{$article_info.article_title}</a></h2>
							{/if}
							 <p>{$article_info.article_content}</p> 
						</div>
					</div>
					<!-- 标签显示 -->
					{if $article_info.tag != null}
					<div class="user-tags">
						{foreach $article_info.tag as $tag}
						<a href="">● {$tag.tag_content}</a>
						{/foreach}
					</div>
					{/if}
					
				</div>
			</div>

			<div class="block">
				<div class="main comment">
					<h3 class="nctitle">热度({$hot|count})</h3>
					<ol class="notes">
						{foreach $hot as $hot_ele}
						{if $hot_ele.hot_love ||  $hot_ele.hot_recommend }
						   <li class="note share" data-hid="{$hot_ele.hot_id}" data-uid="{$hot_ele.user_id}" onclick='user.goUserHome(this)'>
								<a href="{:url('blog/BlogDetail?a_id='.$article_info.article_id)}" title="随便看看 - 5分钟前">
									<img class="avatar" src="{$hot_ele.user_head}">
								</a>
								<!-- // -->
								<span class="action">
										<a href="http://freestyletime.lofter.com/" title="随便看看 - 5分钟前">随便看看</a> 
										{if $hot_ele.hot_love}
											<span class="hot-content">
												喜欢这图片
											</span>
										{else if $hot_ele.hot_recommend}
											<span class="hot-content">
												推荐了这篇文章
											</span>
										{/if}
								</span>
								<div class="clear"></div>
						   </li>
					   {/if}
					   {/foreach}
					</ol>
	
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC_LOFTER__/js/browse.js?0.01"></script>
<script src="__PUBLIC_LOFTER__/js/tag.js?0.001"></script>
<script src="__PUBLIC_LOFTER__/js/index.js"></script>
<script src="__PUBLIC_LOFTER__/js/user.js?001"></script>
<script>
		$(function(){
			$(".concern").on("click",function(){
				let obj = $(".follow-user").get(0);
				if( $(this).find("em").html() == "关注" ){
					user.doSave(obj);
					$(this).html("<em>取消关注</em>");
					alert("关注成功");
				}else{
					user.doDelete(obj);
					alert("取消关注成功");
					$(this).html("<em>关注</em>");
				}
			})
		})
</script>