//对常用样式进行封装

$baseColor:#398185;

$topic_color:#336162;
$topic_hcolor:#488283;

@mixin boxSize($with:100%,$height:100%){
    width: $with;
    height:$height;
}

@mixin margin($top:5%,$rig:5%,$bot:$top,$lef:$rig){
    margin-top: $top;
    margin-right: $rig;
    margin-bottom: $bot;
    margin-left: $lef;
}

@mixin padding($top:5%,$rig:5%,$bot:$top,$lef:$rig){
    padding-top: $top;
    padding-right: $rig;
    padding-bottom: $bot;
    padding-left: $lef;
}

@mixin button($color:$baseColor,$radius:0,$top:10px,$rig:10px,$bot:$top,$lef:$rig){
    @include boxSize($width,$height);
    @include padding($top,$rig ,$bot ,$lef);
    background-color:$color; 
    border-radius:$radius;
}

@mixin h{
    &:hover{
        color: red;
    }
}

// nprogress 进度条公共样式
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
  }
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%;
  }
  
  #nprogress .spinner-icon {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  