@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lgmayh');
  src:  url('fonts/icomoon.eot?lgmayh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lgmayh') format('truetype'),
    url('fonts/icomoon.woff?lgmayh') format('woff'),
    url('fonts/icomoon.svg?lgmayh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart2:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e90e";
}
.icon-user-plus2:before {
  content: "\e907";
}
.icon-thumb-up:before {
  content: "\e903";
}
.icon-thumb-up2:before {
  content: "\e904";
}
.icon-heart3:before {
  content: "\e905";
}
.icon-sound:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e901";
}
.icon-dots-three-horizontal:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-pencil2:before {
  content: "\e90b";
}
.icon-quill:before {
  content: "\e909";
}
.icon-pen:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-bell:before {
  content: "\e951";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
