<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ofter</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css?0.00">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/tag.css?0.00">
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background: #EDEDEF;">
	<div class="page">
		<!-- 顶部导航 -->
		<div id="nav">
			<div class="container">
				<div class="nav-logo"></div>
				<div class="nav-head">
					<ul class="nav-ul">
						<li><a href="">首页</a></li>
						<li><a href="">浏览</a></li>
						<li><a href="">APP</a></li>
						<li><a href="">ART</a></li>
						<li><a href="">摄影课堂</a></li>
						<li><a href="">更多</a></li>
					</ul>
				</div>
				<div class="nav-search"></div>
			</div>
		</div>		

		<div class="container" id="archive">
			<div id="" class="float-right bottom20">
				<div id="tag_top">
					<div id="tag_info">
						<h2>人物</h2>
						<div class="subscription">	
							<a href=""></a> 
						</div>
						<div class="change">
							<a href="{:url()}"></a>
						</div>
					</div>
				</div>				
			</div>

			<!-- 用户列表大盒子-->
			<div id="user_information" class="float-left">
				{foreach $blog_list as $art}

				<div class="user-list">
					<a href="">
						<?php $art['img']=json_decode($art['article_img']); ?>
						 {foreach $art.img  as $img} 
							<!-- 这里要加跳转 -->
							<img src="{$img}">
						 {/foreach} 
						<!-- <img src="../public/img/sc4-4.png" class="img"> -->
					</a>
					<div class="user-footer">
						<a class="span-img float-left">
							<a>		
								<img src="__PUBLIC_UPLOAD__/{$art.user_info.user_head}" class="picture">
							</a>
							<!-- <img src="../public/img/sc4-4.png" class="img"> -->
						</a>
						<a href="" class="name">{$art.user_info.user_name}</a>
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
</body>
</html>
<script>
	
</script>