<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Lofter</title>
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/rebuild.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/common.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/tag.css?001">
		<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
		<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
		<script src="__PUBLIC_LOFTER__/js/user.js?001"></script>
</head>
<body style="background: #EDEDEF;">
	<div class="page">
		<!-- 顶部导航 -->
		{include file='element/ele-header'}

		<div class="container" id="archive">
			<div class="g-bd5 g-bd5-1">
				<div class="g-bdc">
					<div class="g-mn">
						<div class="m-itag m-itag-1 f-cb">
							<div class="itagt f-cb"><!--640:790-->
								<h2 class="f-thide" style="max-width:484px;">穿搭</h2>
									<div class="itagfav" style="float: left;">
										<a href="#" class="a-itagicon w-vsbtn w-vsbtn-3" id="favtag">
											订阅
										</a>
									</div>
								
								<div class="itagbtn">
									<a class="" href="http://www.lofter.com/tag/%E7%A9%BF%E6%90%AD"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 用户列表大盒子-->
			<div id="user_information" class="float-left">
				{foreach $blog_list as $art}

				<div class="user-list">
					<a href="">
						<?php $art['img']=json_decode($art['article_img']); ?>
						 {foreach $art.img  as $img} 
							<!-- 这里要加跳转 -->
							<img src="{$img}">
						 {/foreach} 
						<!-- <img src="../public/img/sc4-4.png" class="img"> -->
					</a>
					<div class="user-footer">
						<a class="span-img float-left">
								<img src="{$art.user_info.user_head}" class="picture">		
							<!-- <img src="../public/img/sc4-4.png" class="img"> -->
						</a>
						<a href="" class="name">{$art.user_info.user_name}</a>
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
</body>
</html>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC_LOFTER__/js/index.js?001"></script>
<script type="text/javascript" src="__PUBLIC_LOFTER__/js/tag.js?001"></script>