<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Lofter</title>
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/rebuild.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/common.css?001">
		<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/tag.css?001">
		<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
		<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
		<script src="__PUBLIC_LOFTER__/js/user.js?001"></script>
</head>
<body style="background: #EDEDEF;">
	<div class="page">
		<!-- 顶部导航 -->
		{include file='element/ele-header'}

		<div id="center" class="container">
			<!-- 右边的其他用户 -->
			<div class="bar">
				<div class="menu" class="float-right">
					<ul class="big">
						{foreach $orther_user as $user}					
						<li >
							<a class="span-img float-left" >
								<img src="{$user.user_head}" class="img" data-uid="{$user.user_id}" onclick='user.goUserHome(this)'> 
							</a>
							<a class="big-a">
								<span class="a-text txt">{$user.user_name}</span>
								<!-- <span class="a-text txt">时尚</span> -->
							</a>
							<a href="#" onclick="" class="user-care w-icn2 " title="添加关注">添加关注</a> 
						</li>
						{/foreach}
					</ul>
				</div>

				<!-- 标签栏 -->
				<div id="menu" class="float-right">
					<ul>		
						<!-- 其他标签			 -->
						{foreach $orther_tag as $tag}
						<li data-tid="{$tag.tag_id}" onclick="tag.goTagIndex(this)">
							<i class="icn-4"></i>
							<span class="txt" >{$tag.tag_content}</span>			
						</li>
						{/foreach}
					</ul>
				</div>
			</div>
			<!-- 头部-->
			<div id="tag" class="float-right">
				<div id="tag_top">
					<div id="tag_info">
						<h2>{$tagM.tag_content}</h2>
						<div class="subscription">	
							<a href=""></a>
						</div>
						<div class="change">
							<a href="javascript:void(0);"></a>
						</div>
					</div>
				</div>
				<div id="tag_bottom">
					<div class="options">
						<!-- <a href="">最新</a>
						<a href="">热门</a>
						<a href="">榜单</a> -->
					</div>
				</div>
			</div>				
			<div id="information" class="float-left">
				<!-- 正常文章显示块 -->
				{include file='element/ele-list'}
			</div>
		</div>
			<!-- 鼠标经过显示头像悬浮框 -->
			{include file='element/hover'}
			<!-- 标签悬浮框 -->
	</div>
</body>
</html>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.all.min.js"></script>
<script src="__PUBLIC_LOFTER__/js/index.js?001"></script>
<script type="text/javascript" src="__PUBLIC_LOFTER__/js/tag.js?001"></script>