<p>欢迎来到Lofer ~</p>
<form id="R_L">
    <div class="form-input">
        <label style="display:none;" for="user_name">昵称</label>
        <input type="text" name="user_name" id="user_name" placeholder="用户名">
    </div>
    <div class="form-input">
        <label style="display:none;" for="user_pwd">密码</label>
        <input type="text" name="user_pwd" id="user_pwd" placeholder="密码">
    </div>
    <div class="input-sure">
        <a data-action="doLogin" onclick="user.doLogin(this)">登录</a>
    </div>
</form>
