<!-- 用户信息 -->
<form action="">
	<div id="menu" class="float-right">			
		<ul>
			<li id="user_home" data-uid='{$Request.session.user_info.user_id}' onclick='user.goUserHome(this)'>
				<!-- 用选中的还是用比标签 -->
				<span href="" class="txt bg1">
					{$Request.session.user_info.user_name}
				</span>
				<button class="user-btn float-right">
					<span class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
			</li>
			<li>
				<span class="glyphicon glyphicon-th-list float-left"></span>
				<span class="txt wz">文章</span>
				<span class="count_article" id="article_allnum">
					{$Request.session.user_info.user_article_num}
				</span>
			</li>
			<li id="concern_allnum">
				<a href="{:url('browse/browseFollow')}">
					<span class="glyphicon glyphicon-user float-left"></span>
					<span class="txt gz">关注</span>
					<span class="count_article">
						{$Request.session.user_info.user_attention_num}
					</span>
				</a>
			</li>
			<li id="recommend_allnum">
				<a href="{:url('hot/recommendShow?uid='.$Request.session.user_info.user_id)}">
					<span class="glyphicon glyphicon-envelope float-left"></span>
					<span class="txt sx">推荐的文章</span>
					<span class="count_article" >
						{$Request.session.user_info.user_recommend_num}
					</span>
				</a>
			</li>
			<!-- <li>
				<span></span>
				<span class="txt user_conf">个人主页设置</span>					
			</li> -->
			<!-- <li>
				<span></span>
				<span class="txt user_wz">批量管理文章</span>					
			</li> -->
		</ul>
	</div>
</form>