<!-- 底部 -->
		<div class="m-probtn">
			<div class="g-ft">
				  <div class="m-ft2">
					  <a rel="nofollow" target="_blank" href="/art/join">关于LOFTER ART</a>
					  <span>|</span>
					  <a target="_blank" rel="nofollow" href="/login?target=http://www.lofter.com/help/#feedback">意见建议</a>
				  </div>
				  <div style="margin-top:10px;">网易公司版权所有　©1997-2017　
				  <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017" style="position:relative;">
					  <img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;">
					  <span style="margin-left:18px;">浙公网安备 33010002000017号</span>
				  </a>
				  <span style="margin-left:20px;">ICP备：浙B2-20090185-5</span>
				  <span style="margin-left:20px;">增值电信业务经营许可证：浙B2-20090185</span>
				  </div>
			</div>
		</div>