<!-- 顶部导航 -->
		<div id="nav">
			<div class="container">
				<div class="nav-logo"></div>
				<div class="nav-head">
					<ul class="nav-ul">
						<li><a href="{:url('index/index')}">首页</a></li>
						<li><a href="{:url('browse/browseQushi')}">浏览</a></li>
						<li><a href="{:url('index/APP')}">APP</a></li>
						<li><a href="{:url('shop/art')}">ART</a></li>
						<li><a href="{:url('index/potoshop')}">摄影课堂</a></li>
						<!-- 下拉菜单 -->
						<li class="dropdown">
							<a id="more" data-toggle='dropdown' role='button' aria-haspopup="true" aria-expanded="false">
								更多
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu more-menu" aria-labelledby="more">
								{if $Think.session.user_info.user_id == 0 }
									<li class="more-list" >
										<span class="glyphicon glyphicon-off"></span>
										<a href="/Lofter_by_TP5/public/web/index/login" >登录</a>
									</li>
									<li class="more-list" >
										<span class="glyphicon glyphicon-off"></span>
										<a href="/Lofter_by_TP5/public/web/index/register" >注册</a>
									</li>
								{else}
									<li class="more-list" >
										<span class="glyphicon glyphicon-off"></span>
										<a onclick="user.doLogout()" >退出</a>
									</li>
								{/if}
							</ul>
						</li>

					</ul>
				</div>
				<div class="nav-search">
					<div class="form-control search-box">
						<input id="search_peoAndTag" class="form-control" placeholder="搜索标签、人" type="text">
						<span class="search-new">new</span>
						<!-- {//include file='element/ele-mySubscribe'} -->
						<!-- {//include file='element/ele-peoAndTags'} -->
						<div id="peoAndTags" class="search-subscribe box-shadow"></div>
					</div>
				</div>
			</div>
		</div>