
			{foreach $comment as $com_ele}
				<li class="">
					<div class="comment-one clearfix" data-comment="{$com_ele.comment_id}">
						<span class="user-head" data-user="{$com_ele.user_id}">
							<!-- 没有获取头像 -->
							<img src="{$com_ele.user_head}" alt="">
						</span>
						<span class="user-name" data-user="{$com_ele.user_id}">
							<a href="#">
								{$com_ele.user_name}
							</a>
						</span>
						<span class="comment-content">
							{$com_ele.comment_content}
						</span>
						<span class="btn btn-link comment-btn " data-user="{$com_ele.user_id}">回复</span>
					</div>
				</li>
			{/foreach}
