
 
			<form action="">
					<div class="list_box">
						<!-- 头像 -->
						<div class="head-portrait-box float-left">
							<div class="head-portrait float-left box-shadow">
								<img src="__PUBLIC_UPLOAD__/{$art.user_info.user_head}" class="picture">
							</div>
						</div>					
						<!-- 信息列表长文章 -->
						<div id="info_list" class="box-shadow">
							<!-- 长文章按钮 -->
							<span class="long-flag"></span>			
							<!-- 图片显示长文章 -->
							<div class="article-img">
								<img src="__PUBLIC_LOFTER__/img/sc1.jpg">
							</div>
							<!-- 显示长文章 -->
							<div class="article-center">
								<div class="article-title">
									<span>标题</span>
								</div>
								<div class="author">
									<p>作者：<span>媽，我冷。</span></p>
								</div>							
							</div>
							<div class="article-recommend">
								<p>推荐语</p>
							</div>
							<!-- 标签显示长文章 -->
							<div class="tags">
								<div class="labels inline-block float-left">
									<a>好物分享</a>
									<a>清洁</a>
									<a>旅行</a>
									<a>摄影</a>
								</div>
								<div class="options inline-block float-right">
									<a>热度</a>
									<a>评论</a>
									<a>分享</a>
									<a>推荐</a>
									<a><i></i></a>
								</div>
							</div>										
						</div>
						<!-- 评论显示 -->
						<div class="comment_show">
							<div class="comment_push">
								<input type="text" class="comment-text">
								<button class="btn btn-success width100">发布</button>
							</div>
						</div>
					</div>
			</form>

