<!-- 标签悬浮框 -->
<div id="tag_show" style="display: none;">
    <!-- <div class="tag-show-box">
            <div class="tag-show-body">
                <ul class="show-body-ul">
                    <li>
                        <a href="" class="show-img">
                            <img src="../public/img/lofter.jpg" class="img">
                        </a>
                    </li>
                    <li>
                        <a href="" class="show-img">
                            <img src="../public/img/lofter.jpg" class="img">
                        </a>
                    </li>
                    <li>
                        <a href="" class="show-img">
                            <img src="../public/img/lofter.jpg" class="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tag-show-footer">
            <span class="tag-show-name">标签</span>
        </div>
    </div> -->
</div>

<!-- 鼠标经过显示头像悬浮框 -->
<div id="window_show" class="window_show" style="display: none;">
    <div class="show-box">
        <div class="show-top">
            <div class="show-header">
                <a class="span-img float-left">
                    <img src="{$user_info.user_head}" class="img">
                </a>					
                <span class="txt a-text">Lofter摄影达人</span>
                <span class="txt a-text">
                    <a class="" href="" target="_blank">文章</a>
                    <a class="" href="" target="_blank">喜欢</a>
                    <a class="" href="" target="_blank">关注</a>
                </span>
                <a class="user-care">
                    <b>+</b>
                    <span>关注</span>
                </a>
            </div>
            <div class="show-body">
                <ul class="show-body-ul">
                    <li>
                        <a href="" class="show-img">
                            <img src="__PUBLIC_LOFTER__/img/lofter.jpg" class="img">
                        </a>
                    </li>
                    <li>
                        <a href="" class="show-img">
                            <img src="__PUBLIC_LOFTER__/img/lofter.jpg" class="img">
                        </a>
                    </li>
                    <li>
                        <a href="" class="show-img">
                            <img src="__PUBLIC_LOFTER__/img/lofter.jpg" class="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="show-footer">
            <div class="m-daren">
            <span class="moredr">更多相似达人：</span>
                <a class="text-hidden" href="" target="_blank" onclick="">上官追月</a>、
                <a class="text-hidden" href="" target="_blank" onclick="">猎影人</a>、
                <a class="text-hidden" href="" target="_blank" onclick="">LOFTER手帐文具...</a>
            </div>
        </div>
    </div>
</div>