<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/browse.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="__PUBLIC_LOFTER__/js/browse.js"></script>
</head>
<body>
	<div class="page">
		<!-- 顶部导航 -->
		<div id="nav">
			<div class="container">
				<div class="nav-logo"></div>
				<div class="nav-head">
					<ul class="nav-ul">
						<li><a href="index.html">首页</a></li>
						<li><a href="browse.html">浏览</a></li>
						<li><a href="app.html">APP</a></li>
						<li><a href="ART.html">ART</a></li>
						<li><a href="potoshop.html">摄影课堂</a></li>
						<li><a href="">更多</a></li>
					</ul>
				</div>
				<div class="nav-search"></div>
			</div>
		</div>

		<!-- tab选项卡 -->
		<div class="bro-tab">
			<ul class="bro-tab-ul container">
				<li><a class="tab-border qs">趋势</a></li>
				<li><a class="ht">话题</a></li>
				<li><a class="bq">标签</a></li>
				<li><a class="dr">达人</a></li>
				<li><a class="zt">专题</a></li>
			</ul>
		</div>
		
		<div id="page_center">
			<!-- 趋势（瀑布流） -->
			<div id="waterfall">
				<!-- 第一列 -->
				<div class="waterfall-col col01">
					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>

					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>

					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>
				</div>
				<!-- 第二列 -->
				<div class="waterfall-col col02">
					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>

					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc2-1.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/sc2-1.png" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>
				</div>

				<!-- 第三列 -->
				<div class="waterfall-col col03">
					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>

					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>
				</div>

				<!-- 第四列 -->
				<div class="waterfall-col col04">
					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/sc2-1.png" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>

					<div class="waterfall-box">
						<div class="waterfall-user">
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a>
								<span class="txt bro-txt">用户名称</span>
							</a>
							<a href="" class="bro-follow">关注</a>
						</div>
						<div class="waterfall-img">
							<img src="../public/img/lofter.jpg" class="img">
						</div>
						<div class="waterfall-content">
							<div class="content-txt">
								<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
							</div>
						</div>
						<div class="waterfall-likeIt">
							<a class="bro-likeIt"></a>
							<span>58人喜欢</span>
						</div>					
					</div>
				</div>
			</div>

			<!-- 话题 -->
			<div id="topic" class="hidden">
				<div id="topic_box" class="box-shadow container">
					<!-- 发起话题、最新、热门 -->
					<div class="topic-nav">
						<ul class="topic-nav-ul">
							<li class="curr"><a href="">热门</a></li>
							<li><a href="">最新</a></li>
							<li class="float-right"><a href="">发起话题</a></li>
						</ul>
					</div>

					<!-- 大盒子 -->
					<div class="topic-body">
						<!-- 左边栏位大盒子 -->
						<div class="topic-list-box">
							<!-- 左边栏位中的个体盒子 -->
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">写给空气的情话</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">写给空气的情话</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
						</div>

						<!-- 右边栏位大盒子 -->
						<div class="topic-list-box">
							<!-- 右边栏位的个体盒子 -->
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">写给空气的情话</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">写给空气的情话</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="../public/img/lofter.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 标签 -->
			<div id="random-tags" class="container hidden">
				
			</div>
			
			<!-- 达人 -->
			<div id="master" class="hidden">
				<!-- 达人页面	 -->
				
			</div>

			<!-- 专题 -->
			<div id="special" class="hidden">
				<!-- 返回顶部的按钮 -->
				<a href="#" id="return_top">
					顶部按钮
				</a>
				<!-- 专题内容 -->
				<div id="zhuanti">
					<div class="out-box">
						<div class="inner-box">

							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="">
									<span class="cover"></span>
									<span class="title">
										<span>这是标题，猜猜谁的挑剔是是是</span>
									</span>
								</a>
							</div>

						</div>
					</div>
				</div>
			</div>		
		</div>		
	</div>
</body>
</html>
