<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/rebuild.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css?001">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/browse.css?001">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/common.css?001">	
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="page">
		<!-- 顶部导航 -->
		{include file='element/ele-header'}
		<!-- tab选项卡 -->
		<div class="bro-tab">
			<ul class="bro-tab-ul container">
				<li><a class="tab-border qs">趋势</a></li>
				<li><a class="ht">话题</a></li>
				<li><a class="bq">标签</a></li>
				<li><a class="dr">达人</a></li>
				<li><a class="zt">专题</a></li>
			</ul>
		</div>
		<div id="page_center">
			<!-- 趋势（瀑布流） -->
			<div id="waterfall" class=" clearfix">
					<!-- <div class="waterfall-box">
							<div class="waterfall-innerbox">
								<div class="waterfall-user">
									<a class="span-img float-left">
										<img src="__PUBLIC_UPLOAD__/img\user_1/1.jpg" class="img">
									</a>
									<a>
										<span class="txt bro-txt">用户名称</span>
									</a>
									<a href="" class="bro-follow">关注</a>
								</div>
								<div class="waterfall-img">
									<img src="__PUBLIC_UPLOAD__/2.jpg" class="img">
								</div>
								<div class="waterfall-content">
									<div class="content-txt">
										<p>一堆文字显示这个东西能不能在放大的同时缩小一点🙃</p>
									</div>
								</div>
								<div class="waterfall-likeIt">
									<a class="bro-likeIt"></a>
									<span>58人喜欢</span>
								</div>
							</div>
					<!-- </div> -->
			</div>
			
			<!-- 瀑布流/ -->
			<!-- 话题 -->
			<div id="topic" class="" style="display:none;">
				<div id="topic_box" class="box-shadow container">
					<!-- 发起话题、最新、热门 -->
					<div class="topic-nav">
						<ul class="topic-nav-ul">
							<li class="curr"><a href="">热门</a></li>
							<li><a href="">最新</a></li>
							<li class="float-right"><a href="">发起话题</a></li>
						</ul>
					</div>
					<!-- 大盒子 -->
					<div class="topic-body">
						<!-- 左边栏位大盒子 -->
						<div class="topic-list-box">
							<!-- 左边栏位中的个体盒子 -->
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">拍下你面前的东西</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/1.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/2.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/3.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/4.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/5.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/6.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">扫街</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/7.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/8.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/9.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/10.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/11.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/12.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">扫街</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/30.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/25.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/26.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/27.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/28.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/29.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
						</div>

						<!-- 右边栏位大盒子 -->
						<div class="topic-list-box">
							<!-- 右边栏位的个体盒子 -->
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">拍天空小分队</a>
									<span class="join">16045参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/13.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/14.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/15.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/16.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/17.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/18.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
							<div class="topic-list">
								<div class="topic-text">
									<a href="" class="topic-title">拍照我有好角度</a>
									<span class="join">5906参与</span>
								</div>
								<div class="topic-img">
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/19.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/19(1).jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/20.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/21.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/22.jpg" class="img">
										</span>
									</a>
									<a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/23.jpg" class="img">
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 标签 -->
			<div id="random-tags" class="container" style="display:none;">
				<div class="ran-box box-shadow">
					<!-- 随机标签盒子 -->
					<div class="ran-center">
						<ul class="ran-center-ul">
							<li>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/1.jpg" class="img">
										<span>cosplay</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/2.jpg" class="img">
										<span>一句话影评</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/3.jpg" class="img">
										<span>我在lofter玩摄影</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/4.jpg" class="img">
										<span>音乐</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/5.jpg" class="img">
										<span>CG</span>
									</a>
								</div>
							</li>
							<li>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/6.jpg" class="img">
										<span>凹凸世界</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/7.jpg" class="img">
										<span>我印过的乐乎印品</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/8.jpg" class="img">
										<span>森系</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/9.jpg" class="img">
										<span>我用vscocam修片</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/10.jpg" class="img">
										<span>日系</span>
									</a>
								</div>
							</li>
							<li>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/11.jpg" class="img">
										<span>minecraft</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/12.jpg" class="img">
										<span>同人</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/13.jpg" class="img">
										<span>陌路</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/14.jpg" class="img">
										<span>电影原声</span>
									</a>
								</div>
								<div class="list-img ran-item">
									<a href="">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/15.jpg" class="img">
										<span>韩系</span>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="tags-user-list">
						<ul class="tags-user-title">
							<li>
								<div class="title-list title-list-first">
									推荐标签
								</div>
								<div class="title-list">
									<a href="">活跃度</a>
								</div>
								<div class="title-list">
									最近更新
								</div>
								<div class="title-list">
									资深用户
								</div>
							</li>
						</ul>
						<ul class="tags-user-info">
							<li class="tags-li-bg">
								<div class="title-list title-list-first">
									<a href="">婚礼</a>
								</div>
								<div class="title-list">
									<span class="">活跃度</span>
								</div>
								<div class="title-list">
									<a href="" class="small-img float-left">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/10.jpg" class="img">
									</a>
									<a href="" class="tags-user-name text-hidden">遥岚</a>
								</div>
								<div class="title-list">
									<a href="" class="small-img float-left">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/10.jpg" class="img">
									</a>
									<a href="" class="tags-user-name text-hidden">SONGYANG PRODUCTION</a>
								</div>
							</li>
							<li class="">
								<div class="title-list title-list-first">
									<a href="">婚礼</a>
								</div>
								<div class="title-list">
									<span class="">活跃度</span>
								</div>
								<div class="title-list">
									<a href="" class="small-img float-left">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/8.jpg" class="img">
									</a>
									<a href="" class="tags-user-name text-hidden">遥岚</a>
								</div>
								<div class="title-list">
									<a href="" class="small-img float-left">
										<img src="__PUBLIC_LOFTER__/img/biaoqian/8.jpg" class="img">
									</a>
									<a href="" class="tags-user-name text-hidden">SONGYANG PRODUCTION</a>
								</div>
							</li>
						</ul>										
					</div>
				</div>
			</div>
			
			<!-- 达人 -->
			<div id="master" class="" style="display:none;">
				
			</div>
	
		</div>		
	</div>
</body>
</html>
<script src="__PUBLIC_LOFTER__/js/browse.js?0.01"></script>
<script src="__PUBLIC_LOFTER__/js/tag.js?0.001"></script>
<script src="__PUBLIC_LOFTER__/js/index.js"></script>

