<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>写文章</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC_LOFTER__/css/longArticle.css">
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div>
		<!-- 顶部固定栏 -->
		<div class="top-fixed">
			<a class="top-logo"></a>
			<div class="top-center">
				<span class="top-center-title">写文章</span>
				<span class="txt-save-auto f-trans-600" style="opacity:0;" id="txt-save-auto"></span>
			</div>
			<div class="top-right">
				<a class="btn-music"></a>
				<a class="btn-submit">发   布</a>
				<a class="head-photo">
					<!-- 头像 -->
					<img width="28" src="./img/facon.ico" alt="">
					<!-- 下拉组件的下拉箭头样式 -->
					<span class="caret"></span>
				</a>

			</div>
		</div>
		<!-- 内容盒子 -->
		<div class="container">
			<div class="main-wrap">
				<form id="longArticle" >
					<!-- 主题封面图片添加 -->
					<a class="article-addpic">
						<img class="article-pic" alt="" src="">
						<em class="icon-add"></em>
						<span class="dragContainer hovertip">点击添加封面图</span>
						<input type="file" name="long_banner" class="file-upload">
						<span style="display:none;">重新上传</span>
					</a>
					<div class="article-content">
						<div class="article-title">
							<textarea type="text" name="long_caption" class="main-title" placeholder="请填写标题" maxlength="32" style="height: 50px;"></textarea>
							<textarea  name="long_lead" class="article-pre" placeholder="请填写导语（选填）" maxlength="100" autocomplete="off"></textarea>
						</div>
						<div class="article-edit">

							<textarea name="long_content" id="baiduEditor" style="height:280px;width: 100%;"></textarea>
							<!-- 配置文件 -->
						<!-- <button class="btn btn-primary" id="long-submit">提交</button> -->
						</div>
				</form>
				</div>
<!-- 
				<script type="text/javascript" src="./public/lib/ueditor/ueditor.config.js"></script>

				<script type="text/javascript" src="./public/lib/ueditor/ueditor.all.min.js"></script> -->

				
			</div>
		</div>
	</div>
</body>

</html>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC_LOFTER__/lib/ueditor/ueditor.all.min.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	$(function(){
		UE.getEditor("baiduEditor")
		// action="index.php" method="post"
		$('#long-submit').click(function(e){
			e.preventDefault();
			let formdata = new FormData( $("#longArticle").get(0) );
			$.ajax({
				url : "index.php",
				type : 'post',
				data : formdata ,
				processData : false ,
				contentType : false ,
			}).success(function(data){
				data = JSON.parse(data);
				localStorage.setItem('longData',data.data)
				console.log( data );
				console.log( data["msg"] );
				alert(data.msg);
			});
		})					
	})
</script>