<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ofter</title>
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/tag.css">
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background: #EDEDEF;">
	<div class="page">
		<!-- 顶部导航 -->
		<div id="nav">
			<div class="container">
				<div class="nav-logo"></div>
				<div class="nav-head">
					<ul class="nav-ul">
						<li><a href="">首页</a></li>
						<li><a href="">浏览</a></li>
						<li><a href="">APP</a></li>
						<li><a href="">ART</a></li>
						<li><a href="">摄影课堂</a></li>
						<li><a href="">更多</a></li>
					</ul>
				</div>
				<div class="nav-search"></div>
			</div>
		</div>		

		<div id="center" class="container">

			<div class="bar">
				<div class="menu" class="float-right">
					<ul class="big">					
						<li>
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a class="big-a">
								<span class="a-text txt">时尚</span>
								<span class="a-text txt">时尚</span>
							</a>
							<a href="" class="attention"></a>
						</li>
						<li>
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a class="big-a">
								<span class="a-text txt">时尚</span>
								<span class="a-text txt">时尚</span>
							</a>
							<a href="" class="attention"></a>
						</li>
						<li>
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a class="big-a">
								<span class="a-text txt">时尚</span>
								<span class="a-text txt">时尚</span>
							</a>
							<a href="" class="attention"></a>
						</li>
						<li>
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a class="big-a">
								<span class="a-text txt">时尚</span>
								<span class="a-text txt">时尚</span>
							</a>
							<a href="" class="attention"></a>
						</li>
						<li>
							<a class="span-img float-left">
								<img src="../public/img/sc4-4.png" class="img">
							</a>
							<a class="big-a">
								<span class="a-text txt">时尚</span>
								<span class="a-text txt">时尚</span>
							</a>
							<a href="" class="attention"></a>
						</li>
						<li class="small">
							<span></span>
							<span class="txt">发现更多标签</span>
						</li>
						
					</ul>
				</div>

				<!-- 标签栏 -->
				<div id="menu" class="float-right">
					<ul>					
						<li>
							<i>1</i>
							<span class="txt">时尚</span>			
						</li>
						<li>
							<i>1</i>
							<span class="txt">街拍</span>
						</li>
						<li>
							<i>1</i>
							<span class="txt">搭配</span>
						</li>
						<li>
							<i>1</i>
							<span class="txt">时尚博主</span>
						</li>
						<li>
							<i>1</i>
							<span class="txt">欧美博主</span>
						</li>
						<li class="small">
							<span></span>
							<span class="txt">发现更多标签</span>					
						</li>
						
					</ul>
				</div>
			</div>

			<div id="tag" class="float-right">
				<div id="tag_top">
					<div id="tag_info">
						<h2>人物</h2>
						<div class="subscription">	
							<a href=""></a>
						</div>
						<div class="change">
							<a href=""></a>
						</div>
					</div>
				</div>
				<div id="tag_bottom">
					<div class="options">
						<a href="">最新</a>
						<a href="">热门</a>
						<a href="">榜单</a>
					</div>
				</div>
			</div>				

			<!-- 信息列表大盒子-->
			<div id="information" class="float-left">
				<div id="list_box">
					<!-- 头像 -->
					<div class="head-portrait float-left">
						<img src="../public/img/sc2-1.png">
					</div>					
					<!-- 信息列表 -->
					<div id="info_list">
						<!-- 转发显示 -->
						<div class="list-forward margin-bottom16">
							<a>一起旅行</a>
							<span>转载自</span>
							<a>ilovetravel777</a>
							<a>关注</a>
						</div>
						<!-- 图片显示 -->
						<div class="list-img float-left">
							<img src="../public/img/sc2-1.png">
						</div>
						<!-- 文本显示 -->
						<div class="list-text">
							<span>成分都是比较天然的，含有透明质酸、胶原蛋白和多种植物萃取精华，卸妆的同时也不会觉得皮肤干燥，反而会有很水润的感觉。</span>
							<span>成分都是比较天然的，含有透明质酸、胶原蛋白和多种植物萃取精华，卸妆的同时也不会觉得皮肤干燥，反而会有很水润的感觉。</span>
							<span>成分都是比较天然的，含有透明质酸、胶原蛋白和多种植物萃取精华，卸妆的同时也不会觉得皮肤干燥，反而会有很水润的感觉。</span>
							<span>成分都是比较天然的，含有透明质酸、胶原蛋白和多种植物萃取精华，卸妆的同时也不会觉得皮肤干燥，反而会有很水润的感觉。</span>
							<span>成分都是比较天然的，含有透明质酸、胶原蛋白和多种植物萃取精华，卸妆的同时也不会觉得皮肤干燥，反而会有很水润的感觉。</span>
						</div>
						<!-- 标签显示 -->
						<div class="tags">
							<div class="labels inline-block float-left">
								<a>好物分享</a>
								<a>清洁</a>
								<a>旅行</a>
								<a>摄影</a>
							</div>
							<div class="options inline-block float-right">
								<a>热度</a>
								<a>评论</a>
								<a>分享</a>
								<a>推荐</a>
							</div>
						</div>										
					</div>
					<!-- 评论显示 -->
					<div id="comment_show">
						<div id="send">
							<input type="text" class="comment-text">
							<button class="btn btn-success width100">发布</button>
						</div>
					</div>
				</div>

				<!-- <div id="list_box">
					<div class="head-portrait float-left">
						<img src="../public/img/sc2-1.png">
					</div>					
					<div id="info_list">
						<span class="long-flag"></span>						
						<div class="article-img">
							<img src="../public/img/sc1.jpg">
						</div>
						<div class="article-center">
							<div class="article-title">
								<span>标题</span>
							</div>
							<div class="author">
								<p>作者：<span>媽，我冷。</span></p>
							</div>							
						</div>
						<div class="article-recommend">
							<p>推荐语</p>
						</div>
						<div class="tags">
							<div class="label inline-block float-left">
								<a>好物分享</a>
								<a>清洁</a>
								<a>旅行</a>
								<a>摄影</a>
							</div>
							<div class="options inline-block float-right">
								<a>热度</a>
								<a>评论</a>
								<a>分享</a>
								<a>推荐</a>
								<a><i></i></a>
							</div>
						</div>										
					</div>
					<div id="comment_show">
						<div id="send">
							<input type="text" class="comment-text">
							<button class="btn btn-success width100">发布</button>
						</div>
					</div>
				</div> -->
			</div>

		</div>

	</div>
</body>
</html>
<script>
	
</script>