<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ofter</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/app.css">
</head>
<body style="background: #EDEDEF;">
	<div class="page">
		<!-- 顶部导航 -->
		<div id="nav">
			<div class="container">
				<div class="nav-logo"></div>
				<div class="nav-head">
					<ul class="nav-ul">
						<li><a href="index.html">首页</a></li>
						<li><a href="browse.html">浏览</a></li>
						<li><a href="app.html">APP</a></li>
						<li><a href="ART.html">ART</a></li>
						<li><a href="potoshop.html">摄影课堂</a></li>
						<li><a href="">更多</a></li>
					</ul>
				</div>
				<div class="nav-search"></div>
			</div>
		</div>		

		<!-- app页面 -->
		<div id="app">
	    	<div class="m-appbox2-1">
	    		<div class="iteml">
	    			<a href="http://www.lofter.com/rsc/android/lofter.apk?act=qbapppageviewtj_20150114_04" class="btn1" target="_blank">Android</a>
		        	<a href="http://itunes.apple.com/cn/app/id494514224?mt=8&amp;act=qbapppageviewtj_20150114_02" class="btn2" target="_blank">iPhone</a>
		        	<a href="https://itunes.apple.com/cn/app/lofter-wang-yi-qing-bo-ke/id629778124?act=qbapppageviewtj_20150114_03" class="btn3" target="_blank">iPad</a>
		        	<p class="txt">下载客户端发现更多有趣内容</p>
	    		</div>
	    		<div class="itemr"></div>
		    </div>
		    <div class="m-appbox2-2"></div>
		    <div class="m-appbox2-3"></div>
		    <div class="m-appbox2-4">
		    	<div class="item">
		    		<a href="http://www.lofter.com/rsc/android/lofter.apk?act=qbapppageviewtj_20150114_07" class="btn1" target="_blank">Android</a>
		        	<a href="http://itunes.apple.com/cn/app/id494514224?mt=8&amp;act=qbapppageviewtj_20150114_05" class="btn2" target="_blank">iPhone</a>
		        	<a href="https://itunes.apple.com/cn/app/lofter-wang-yi-qing-bo-ke/id629778124?act=qbapppageviewtj_20150114_06" class="btn3" target="_blank">iPad</a>
		        	<p class="txt">下载客户端发现更多有趣内容</p>
		    	</div>
		    </div>
		</div>
		<!-- 脚bu -->
		<footer>
			<div class="g-ft">
			  <div class="m-ft2">
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/contact">联系我们</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://i.lofter.com/tag/招聘">招贤纳士</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/app">移动客户端</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://www.lofter.com/themes">风格模板</a>
			  	<span>|</span>
			  	<a target="_blank" rel="nofollow" href="http://i.lofter.com">官方博客</a>
			  </div>
			  <div style="margin-top:10px;">
				  网易公司版权所有　©1997-2017　
				  <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000017" style="position:relative;">
					 <img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;">
					 <span style="margin-left:18px;">浙公网安备 33010002000017号</span>
				 </a>
				 <span style="margin-left:20px;">ICP备：浙B2-20090185-5</span>
				 <span style="margin-left:20px;">增值电信业务经营许可证：浙B2-20090185</span>
			   </div>
			</div>
		</footer>

</body>
</html>