{include file="public/header"}
<h1 class="page-title">__SITE_TILTLE__</h1>
<div id="data-show">
    <table class="table table-condensed table-hover " align='center' data-table="{$table}">
        <thead >
            <tr class="text-center">
                {foreach $column as $col}
                    <th class="">{$col}</th>
                {/foreach}
            </tr>
            
        </thead>
        <tbody>
            {foreach $data as $item}
                <tr class="text-center">
                  {foreach $item as $val}
                     <td class="">
                         <span>{$val} </span>
                     </td>
                  {/foreach}
                </tr>
            {/foreach}
        </tbody>
        <tfoot>
            <!-- <tr class="text-center row">
                <td class="col-md-2">
                    <button class="btn btn-danger add">添加</button>
                </td>
            </tr> -->
        </tfoot>
    </table>
    <div id="edit" class=" text-rgiht">
        <button class="btn btn-default" id="cancel">取消</button>
        <button class="btn btn-danger " id="add">添加</button>
        <button class="btn btn-danger" id="delete">删除</button>
        <button class="btn btn-warning " id="save">保存</button>
        <!-- <button class="btn btn-add" id="sureadd">确认添加</button>                 -->
    </div>
    {$page}
</div>
{include file="public/modal"}
{include file="public/footer"} 