{include file='browse/browseHeader'}
<div class="bro-tab"> 
    <ul class="bro-tab-ul container">
        <li><a href="{:url('browse/browseQushi')}" class="qs">趋势</a></li>
        <li><a href="{:url('browse/browseHuati')}" class="ht">话题</a></li>
        <li><a href="{:url('browse/browseTags')}" class="bq">标签</a></li>
        <li><a href="{:url('browse/browseMaster')}" class="dr">达人</a></li>
        <li><a href="{:url('browse/browseZhuanti')}" class="tab-border zt">专题</a></li>
    </ul>
</div>
<div id="page_center">
			<!-- 专题 -->
			<div id="special" class="">
				<!-- 返回顶部的按钮 -->
				<a href="#" id="return_top">
					顶部按钮
				</a>
				<!-- 专题内容 -->
				<div id="zhuanti">
					<div class="out-box">
						<div class="inner-box">

							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/4.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>不负此生 | 这个盛夏，用才华致敬青春</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/5.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>您有一份夏季美食福利，请查收！</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/6.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>白敬亭：“国民初恋”的另一种打开方式</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/7.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>铲屎官的活怎么干比较轻松？看这篇测评找答案！</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/8.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>《LOFTER摄影周刊》印象派思维下的光与色</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/9.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>深夜十点，广州故事展</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/10.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>严选文具的清凉打开方式？还能顺便吸个猫...</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/11.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>EXO强势回归，来场和爱豆的夏日约会</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/12.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>盆友，你听说过养鸡style吗？</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/13.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>一声岁月情长，竹马已成双</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/14.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>夏日吃瓜指南： 吃西瓜也要来点freestyle</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/15.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>欢迎来到凹凸世界！</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/16.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>像一条自由的鱼在花间游荡|专访LOFT插画师哆多</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/17.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>夏至已至，青春未远</span>
									</span>
								</a>
							</div>
							<div class="cont">
								<a href="#">
									<img src="__PUBLIC_LOFTER__/img/zhuanti/18.jpg">
									<span class="cover"></span>
									<span class="title">
										<span>有了这9个小物，厨房变得好有趣</span>
									</span>
								</a>
							</div>	

						</div>
					</div>
				</div>
            </div>	
{include file="browse/browserFooter"} 