<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/rebuild.css">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/common.css?001">	
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/index.css?001">
	<link rel="stylesheet" href="__PUBLIC_LOFTER__/css/browse.css?001">
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC_LOFTER__/lib/Bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="page">
		<!-- 顶部导航 -->
		{include file='element/ele-header'}
		<!-- tab选项卡 -->
		