{include file='browse/browseHeader'}
<div class="bro-tab"> 
	<ul class="bro-tab-ul container">
		<li><a href="{:url('browse/browseQushi')}" class="qs">趋势</a></li>
		<li><a href="{:url('browse/browseHuati')}" class="tab-border ht">话题</a></li>
		<li><a href="{:url('browse/browseTags')}" class="bq">标签</a></li>
		<li><a href="{:url('browse/browseMaster')}" class="dr">达人</a></li>
		<li><a href="{:url('browse/browseZhuanti')}" class="zt">专题</a></li>
	</ul>
</div>
<div id="page_center">
<!-- 话题 -->
<div id="topic" class="">
    <div id="topic_box" class="box-shadow container">
        <!-- 发起话题、最新、热门 -->
        <div class="topic-nav">
            <ul class="topic-nav-ul">
                <li class="curr"><a href="">热门</a></li>
                <li><a href="">最新</a></li>
                <li class="float-right"><a href="">发起话题</a></li>
            </ul>
        </div>
        <!-- 大盒子 -->
        <div class="topic-body">
            <!-- 左边栏位大盒子 -->
            <div class="topic-list-box">
                <!-- 左边栏位中的个体盒子 -->
                <div class="topic-list">
                    <div class="topic-text">
                        <a href="" class="topic-title">拍下你面前的东西</a>
                        <span class="join">16045参与</span>
                    </div>
                    <div class="topic-img">
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/1.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/2.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/3.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/4.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/5.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/6.jpg" class="img">
										</span>
									</a>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="topic-text">
                        <a href="" class="topic-title">扫街</a>
                        <span class="join">16045参与</span>
                    </div>
                    <div class="topic-img">
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/7.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/8.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/9.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/10.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/11.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/12.jpg" class="img">
										</span>
									</a>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="topic-text">
                        <a href="" class="topic-title">扫街</a>
                        <span class="join">16045参与</span>
                    </div>
                    <div class="topic-img">
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/30.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/25.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/26.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/27.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/28.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/29.jpg" class="img">
										</span>
									</a>
                    </div>
                </div>
            </div>

            <!-- 右边栏位大盒子 -->
            <div class="topic-list-box">
                <!-- 右边栏位的个体盒子 -->
                <div class="topic-list">
                    <div class="topic-text">
                        <a href="" class="topic-title">拍天空小分队</a>
                        <span class="join">16045参与</span>
                    </div>
                    <div class="topic-img">
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/13.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/14.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/15.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/16.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/17.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/18.jpg" class="img">
										</span>
									</a>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="topic-text">
                        <a href="" class="topic-title">拍照我有好角度</a>
                        <span class="join">5906参与</span>
                    </div>
                    <div class="topic-img">
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/19.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/19(1).jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/20.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/21.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/22.jpg" class="img">
										</span>
									</a>
                        <a href="">
										<span class="icon-img">
											<img src="__PUBLIC_LOFTER__/img/huati/23.jpg" class="img">
										</span>
									</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{include file="browse/browserFooter"}