{include file='browse/browseHeader'}
<div class="bro-tab"> 
    <ul class="bro-tab-ul container">
        <li><a href="{:url('browse/browseQushi')}" class="tab-border qs">趋势</a></li>
        <li><a href="{:url('browse/browseHuati')}" class="ht">话题</a></li>
        <li><a href="{:url('browse/browseTags')}" class="bq">标签</a></li>
        <li><a href="{:url('browse/browseMaster')}" class="dr">达人</a></li>
        <li><a href="{:url('browse/browseZhuanti')}" class="zt">专题</a></li>
    </ul>
</div>
<div id="page_center">
<div id="waterfall" class=" clearfix">
</div>
{include file="browse/browserFooter"}