<div class="show-box">
    <div class="show-top">
        <div class="show-header">
            <a class="span-img float-left">
                <img src="__PUBLIC_UPLOAD__/{$user_info.user_head}" class="img">
            </a>
            <span class="txt a-text">{$user_info.user_name}</span>
            <span class="txt a-text">
                <a class="" href="" target="_blank">文章数量</a>
                <!-- <a class="" href="" target="_blank"></a> -->
                <a class="" href="" target="_blank">关注的人</a>
            </span>
            <!-- 两个按钮切换 -->
            <a class="user-care">
                <b>+</b>
                <span>关注</span>
            </a>
            <a class="user-uncare">
                <span>取消关注</span>
            </a>
            <!-- /两个按钮切换 -->
        </div>
        <div class="show-body">
            <ul class="show-body-ul">
                {foreach $hover_show as $art}
                <li data-articl="{itme.article_id}">
                    <a href="" class="show-img">
                        <?php $art['img']=json_decode($art['article_img']); ?>
                        {foreach $art.img  as $img}
                            <img src="{$img}">
                        {/foreach}
                        <!-- <img src="../public/img/lofter.jpg" class="img"> -->
                    </a>
                </li>
                {/foreach}
                <!-- <li>
                    <a href="" class="show-img">
                        <img src="../public/img/lofter.jpg" class="img">
                    </a>
                </li>
                <li>
                    <a href="" class="show-img">
                        <img src="../public/img/lofter.jpg" class="img">
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="show-footer">
        <div class="m-daren">
            <!-- <span class="moredr">更多相似达人：</span>
            <a class="text-hidden" href="" target="_blank" onclick="">上官追月</a>、
            <a class="text-hidden" href="" target="_blank" onclick="">猎影人</a>、
            <a class="text-hidden" href="" target="_blank" onclick="">LOFTER手帐文具...</a> -->
        </div>
    </div>
</div>